body {
  padding-top: 55px;
     background-color: #b0c4de;

}

 section {

        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
	
